<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sam's Forum</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <!-- Angular Scripts -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/javascripts/angularApp.js"></script>

  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. -->
  <link rel="stylesheet" href="/dist/css/skins/skin-blue.min.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body ng-app="flapperNews" class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>S</b>AM</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Sam's</b>Forum</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation" ng-controller="NavCtrl">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- Shows welcome message or log in / register options -->
            <ul class="nav navbar-nav">
              <li ng-show="isLoggedIn()" class="text-capitalize"><a>Welcome, <strong>{{ currentUser() }}</strong>!</a></li>
              <li ng-show="isLoggedIn()"><a ng-click="logOut()">Log Out</a></li>
              <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
              <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
              <li></li>
            </ul>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">LINKS</li>
        <!-- Some links for the sidebar -->
        <li class="active"><a href="#/home"><i class="fa fa-link"></i> <span>Home</span></a></li>
        <li><a href="http://askajumma.com"><i class="fa fa-link"></i> <span>Ask Ajumma</span></a></li>
        <li><a href="http://sschapman.com"><i class="fa fa-link"></i> <span>Sam's Portfolio</span></a></li>
        <li><a href="http://github.com/sschapma"><i class="fa fa-link"></i> <span>Sam's Github</span></a></li>
        <li><a href="http://linkedin.com/in/sschapma"><i class="fa fa-link"></i> <span>Sam's LinkedIn</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 style="font-size:1.5em;">
        Sam's Forum
        <small>Built as a skill assessment for Ask Ajumma.</small>
      </h1><hr>
    </section>

    <!-- Main content -->
    <section class="content" style="margin-top:-40px;">
      <div class="row">
        <div class="col-sm-11">
          <!-- Renders page templates here -->
          <ui-view></ui-view>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Bringing your ideas to life!
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="http://sschapman.com/">Sam Chapman</a>.</strong> All rights reserved.
  </footer>

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.0 -->
<script src="plugins/jQuery/jQuery-2.2.0.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>

<!-- Home page template -->
<script type="text/ng-template" id="/home.html">
 <!-- Loops through posts -->
 <div ng-repeat="post in posts">
     <div style="font-size:20px; margin-bottom:5px; padding: 0px 10px;
     border:1px solid gray; border-radius:2px; background-color:#FEFEFE;">
       <!-- Displays title and links to comment page -->
       <a href="#/posts/{{post._id}}"><strong>{{post.title}}</strong></a>
        <!-- Displays author floated to the right -->
          <h6 ng-show="post.author" style="text-align:right;">
            posted by <span class="text-capitalize">{{post.author}}<span>
            <span ng-show="post.createdOn"> at {{post.createdOn | date : 'h:mm a'}} on {{post.createdOn | date : 'M/d/yy'}}</span>
          </h6>
    </div>
 </div>
 <!-- Makes the add post form visible is user is logged in -->
 <form ng-submit="addPost()"
       style="margin-top:30px;"
       ng-show="isLoggedIn()">

     <h3>Add a new post</h3>

     <!-- Title -->
     <div class="form-group">
       <input type="text"
       class="form-control"
       placeholder="Title"
       ng-model="title"></input>
     </div>

     <!-- Body -->
     <div class="form-group">
       <textarea type="text"
       class="form-control"
       ng-model="body"
       placeholder="Body"></textarea>
     </div>

     <!-- Submit Button -->
     <button type="submit" class="btn btn-primary">Post</button>
  </form>

  <!-- If not logged in, displays a message to log in or register -->
  <div ng-hide="isLoggedIn()">
    <h4>
      You need to <a href="/#/login">Log In</a> or <a href="/#/register">
      Register</a> before you can add a post.
    </h4>
  </div>
</script><!-- End of home page template -->

<!-- Post page / comments template -->
<script type="text/ng-template" id="/posts.html">
   <div>
     <!-- Displays title of post -->
     <span ng-show="post.title">
       <h1><strong>{{post.title}}</strong></h1>
     </span>
     <!-- Displays body of post -->
     <span ng-show="post.body">
       <h3><i>{{post.body}}</i></h3>
     </span>
     <!-- Displays author of post -->
     <div ng-show="post.author">
       <h6>posted by <span class="text-capitalize">{{post.author}}</span> at {{post.createdOn | date : 'h:mm a'}} on {{post.createdOn | date : 'M/d/yy'}}</h6>
     </div>
   </div>

   <!-- Loops through comments -->
   <div ng-repeat="comment in post.comments"
        style="border:1px solid gray; border-radius:5px;
        background-color: #FEFEFE; padding:0 5px 0 5px; margin-top:5px;">
     <!-- Displays comment -->
     <h4>{{comment.body}}</h4>
     <!-- Displays author -->
     <span ng-show="comment.author" class="pull-right" style="font-size:10px;">
       posted by <span class="text-capitalize">{{comment.author}}</span>
       <span ng-show="comment.createdOn"> at {{comment.createdOn | date : 'h:mm a'}} on {{comment.createdOn | date : 'M/d/yy'}}</span>
     </span><br>
   </div>

   <!-- Displays add comment box if logged in -->
   <form ng-submit="addComment()"
         style="margin-top:30px;"
         ng-show="isLoggedIn()">

         <h3>Add a new comment</h3>
         <div class="form-group">
           <textarea class="form-control"
                     placeholder="Comment"
                     ng-model="body">
           </textarea>
         </div>
       <button type="submit" class="btn btn-primary">Post</button>
    </form>

   <!-- Displays message to log in or register to add comment -->
   <div ng-hide="isLoggedIn()">
     <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
   </div>

</script>  <!-- End of posts / comments template -->

<!-- Login page template -->
<script type="text/ng-template" id="/login.html">

   <!-- Shows error message if there is a problem -->
   <div ng-show="error" class="alert alert-danger row">
     <span>{{ error.message }}</span>
   </div>
   <!-- Login form -->
   <form ng-submit="logIn()"
     style="margin-top:30px;">
     <h3>Log In</h3>

     <!-- Username -->
     <div class="form-group">
       <input type="text"
       id="trial"
       class="form-control"
       placeholder="Username"
       ng-model="user.username"
       style="width:30%;"></input>
     </div>

     <!-- Password -->
     <div class="form-group">
       <input type="password"
       class="form-control"
       placeholder="Password"
       ng-model="user.password"
       style="width:30%;"></input>
     </div>

     <!-- Login button -->
     <button type="submit" class="btn btn-primary">Log In</button>
  </form>

    <!--Guest Instructions -->
     <h6>To log in as a guest, use "guest" for both username and password.
       <br><br><span style="line-height:1.5em;">Or, to make it easier:<br>
         <input type="radio" ng-model="user.username"
                value="guest"></input>&nbsp;&nbsp; click here<br>
         <input type="radio" ng-model="user.password"
                value="guest"></input>&nbsp; and here.<br>
         Now click log in or press enter.</h6></span>
         <h6>If you would like to register a new account, please
         <a href="#/register">visit the registration page.</a></h6>

</script><!-- End of login page template -->

<!-- Register page template -->
<script type="text/ng-template" id="/register.html">

   <!-- Shows error message if there is a problem -->
   <div ng-show="error" class="alert alert-danger row">
     <span>{{ error.message }}</span>
   </div>

   <!-- Register form -->
   <form ng-submit="register()"
     style="margin-top:30px;">
     <h3>Register</h3>

     <!-- Username -->
     <div class="form-group">
       <input type="text"
       class="form-control"
       id="trial"
       placeholder="Username"
       ng-model="user.username"
       style="width:30%;"></input>
     </div>

     <!-- Password -->
     <div class="form-group">
       <input type="password"
       class="form-control"
       placeholder="Password"
       ng-model="user.password"
       style="width:30%;"></input>
     </div>

     <!-- Register button -->
     <button type="submit" class="btn btn-primary">Register</button>
  </form>

  <!-- Guest instructions -->
  <h6>To log in as a guest, please <a href="#/login">visit the log in page</a> and follow the directions.</h6>

</script> <!-- End of register page template -->

</body>
</html>
